
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://ayvm.in/images/sudarshana_mudra.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        Astanga Yoga Vijnana Mandiram
      </a>
      <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" routerLink="/search" type="reset">Search</button>
        </form>
    </div>
  </nav>
  
  
  <ul class="nav justify-content-center nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >HOME</a>
      </li>
  
      <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ABOUT</a>
        </li>
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/publications" routerLinkActive="active">PUBLICATIONS</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ebook" routerLinkActive="active">EBOOKS</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articles" routerLinkActive="active">ARTICLES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
  
    </ul>
    <div class="background-image">
  <h1>Hello </h1>
    </div>