<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://ayvm.in/images/sudarshana_mudra.jpg" alt="Logo" width="40" height="34"
        class="d-inline-block align-text-top">
      Astanga Yoga Vijnana Mandiram
    </a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" routerLink="/search" type="reset">Search</button>
    </form>

  </div>
</nav>



<ul class="nav justify-content-center nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">HOME</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/publications" routerLinkActive="active">PUBLICATIONS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/events" routerLinkActive="active">EVENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ebook" routerLinkActive="active">EBOOKS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/articles" routerLinkActive="active">ARTICLES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/video" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">VIDEOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </li>

</ul>
<div class="background-image">
  <div class="content">
    <div class="container">
      <h1 class="title">Brief</h1>
      <p class="description">
        A spiritual and cultural Institution founded by Sriranga Mahaguru in the year 1947 at Hedathale. It is now
        headquartered at Mysore, with branches at Bangalore and Basarikatte.
      </p>
    </div>
    <div class="container">
      <h1 class="title">Aims and Programme</h1>
      <p class="description">
        Bharatiya culture, with its focus on the realization of the Supreme and the eternal principles which regulate
        nature’s activities at its core, has a perennial existence. Nurtured by Rishis, it had once risen to great
        heights
        like a gigantic tree with Jnana as its tap root. Today, parasites growing upon it are killing the tree. If we do
        not nurture that tree of Dharma and Jnana back to its pristine glory, we will perish into a world of total
        darkness. </p>
      <p class="description">
        Just as body, mind, speech and intellect are interconnected, so are the Vidyas and Kalas of Bharatiya culture
        connected to the Supreme. As these are wired to the eternal, an understanding of the science behind them - Jnana
        &
        Vijnana- has the ability to lead us back to their source, the Lord and His direct experience.
      </p>
      <p class="description">
        The aim of Vijnana Mandiram is to conduct scientific investigations into the true foundations of Rishi culture,
        to
        demonstrate the ultimate importance of personal experience in such investigations and to place before the world
        the results as appropriate. Vijnana Mandiram is convinced that the sole aim of Bharatiya culture is the
        realization of that Light which is Sat, Chit and Ananda.
      </p>
    </div>
  </div>


  <div class="container text-center">
    <div class="row">
      <div class="col-md mx-auto">
        <div class="card" style="width: 18rem;">
          <img src="https://ayvm.in/images/sample-articles-1.jpg?v=1.1" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">Frequently we blog on Subjects concerning Bharateeya culture and spirituality.</p>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-dark">More!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mx-auto">
        <div class="card" style="width: 18rem;">
          <img src="https://ayvm.in/images/sample-events.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">Mandiram conducts public lectures from time to time on Subjects concerning Bharateeya culture.</p>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-dark">More!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md mx-auto">
        <div class="card" style="width: 18rem;">
          <img src="https://ayvm.in/images/sample-publications.jpg" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Publications</h5>
            <p class="card-text">Astanga Yoga Vijnana Mandiram (AYVM) publishes books on Subjects concerning spirituality and aspects of Bharatiya culture. </p>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-dark">More!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>